$bg-header: #212121;
$bg-button: #725324;
$color-titles:#050505;
$focus-text:#EBBA34;
$simple-text:#FDFDFD;
$bg-firstSection:#7A7A7A;
$bg-secondSection:#6A6A6A;
$bg-lastSection:#484848;
$bg-sections:#393939;
$gray-text:#BCBCBC;
$texts:#FDFDFD;
$text:#949494;

@font-face {
  font-family: 'Galyon-bold';
  src: url('../fonts/Galyon-Bold.otf');
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Montepetrum regular.ttf');
}

@font-face {
  font-family: 'Helv';
  src: url('../fonts/Heln.otf');
}

.container{
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 1000px 1fr;
img{
grid-column: 1;
width: 100%;  
}
form{
display: grid;
place-content: center;
background-color: $bg-sections;
label{
font-family: 'Helv';
color: $gray-text;
font-size: 1.3rem;
margin-bottom: 8px;  
}
input{
padding: 8px 12px;
background-color: $bg-header; 
border-radius: 12px;
border: none;
height: 48px;
color: $texts; 
}
.pass{
position: relative;  
}
.eye{
position: absolute;
width: 32px;
top: 64.5%;
left: 77%;
&:hover{
cursor: pointer;  
}
}
input:nth-child(2){
margin-bottom: 40px;  
}
div{
width: 400px;
display: flex;
justify-content: space-between;
margin: 16px 0px;
  a{
    text-decoration: none;
    color: $texts;
    font-size: 1.2rem; 
    font-family: 'Acme';
    &:hover{
    cursor: pointer;
    text-decoration: underline;  
    } 
  }
 
}
button{
  width: 160px;
  margin: 12px auto;
  padding: 12px 24px;
  height: 52px;
  font-family: 'Galyon-bold';
  border-radius: 12px;
  border: none;
  background-color: $focus-text;  
  &:hover{
  cursor:pointer  
  }
} 

}
}