$bg-header: #212121;
$bg-button: #725324;
$color-titles:#050505;
$focus-text:#EBBA34;
$simple-text:#FDFDFD;
$bg-firstSection:#7A7A7A;
$bg-secondSection:#6A6A6A;
$bg-lastSection:#484848;
$bg-sections:#393939;
$gray-text:#BCBCBC;
$texts:#FDFDFD;

@font-face {
  font-family: 'Galyon-bold';
  src: url('../fonts/Galyon-Bold.otf');
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Montepetrum regular.ttf');
}

@font-face {
  font-family: 'Helv';
  src: url('../fonts/Heln.otf');
}

.container{
padding: 20px;
background-color: $bg-sections;
h2{
font-size: 3rem; 
font-family: 'Galyon-bold';
color: $focus-text;
}

article{
h3{
color: $texts;
font-family: 'Galyon-bold';
margin: 16px 0px;
text-align: center;
font-size: 2rem;  
}
.cards{
display: flex;
justify-content: center;
gap: 16px;
margin-bottom: 60px;
p{
font-family: 'Galyon-bold';
font-size: 1.5rem;
margin-bottom: 4px;
color: $texts;
text-align: center;  
}
img{
width: 300px;
height: 350px;
border-radius: 12px;
object-fit: cover;
&:hover{
cursor: pointer;
border: 2px solid $focus-text;  
}  
}  
}  
}
}