$bg-header: #212121;
$bg-button: #725324;
$color-titles:#050505;
$focus-text:#EBBA34;
$simple-text:#FDFDFD;
$bg-firstSection:#7A7A7A;
$bg-secondSection:#6A6A6A;
$bg-lastSection:#484848;
$bg-sections:#393939;
$gray-text:#BCBCBC;
$texts:#FDFDFD;

@font-face {
  font-family: 'Galyon-bold';
  src: url('../fonts/Galyon-Bold.otf');
}

@font-face {
  font-family: 'Mont';
  src: url('../fonts/Montepetrum regular.ttf');
}

@font-face {
  font-family: 'Helv';
  src: url('../fonts/Heln.otf');
}



.header,
.footer{
background-color: $bg-header;
color: $texts;  
}

.header{
  height: 80px;
  border: 2px solid $gray-text;

  div{
    border-right: 2px solid $gray-text;
    width: 200px;
    height: 80px;
    display: grid;
    place-items: center;
    margin-top: -1px;
  }
  nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  ul{
  font-family: 'Mont';
  display: flex;
  gap: 20px; 
  align-items: center;
  margin-right: 16px;
  a{
  font-size: 2.3rem;
  color: $texts;
  text-decoration: none;
  &:hover{
  cursor: pointer;
  text-decoration: underline;  
  } 
  }
  button{
  background-color: $bg-button;
  color: $texts;
  width: 114px;
  height: 48px;
  padding: 12px 24px;
  text-transform: uppercase;
  font-family: 'Galyon-bold';
  border-radius: 12px;
  border: none;
  &:hover{
  cursor: pointer;
  }
  } 
  }  
  }
}


.footer{
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: 'Helv';
  height: 70px;
  padding: 0 20px;
  }
  

.main{
padding: 20px;
background-color: $bg-sections;
h1{
text-align: center;
font-family: 'Galyon-bold';
font-size: 3rem;
color: $texts;  
}
.info{
 display: grid;
 grid-template-columns: 700px 1fr;
  .firstColumn{
    img{
    width: 600px;  
    }  
    }
  .secondColumn{
  display: flex;
  flex-direction: column;
  text-align: end;
  padding: 120px;
 
  p{
  width: 340px;
  font-size: 1.3rem;
  font-family: 'Helv';
  text-align: start;
  margin-bottom: 120px;
  color: $gray-text;
  }
  button{
  width: max-content;
  padding: 16px 24px;
  color: $color-titles;
  text-transform: uppercase;
  font-family: 'Galyon-bold';
  border-radius: 12px;
  border: none;
  background-color: $focus-text; 
  &:hover{
  cursor: pointer;  
  } 
  }  
  }
}
.subtitle{
text-align: center;
margin: 12px 0px; 
font-family: 'Galyon-bold';
color: $texts; 
}

.benefits{
background-color: $bg-header;
padding: 20px;
border-radius: 12px;
p{
color: $gray-text;
margin-bottom: 8px; 
font-size: 1.2rem;
}  
}
}